{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IGDB | The Internet Games Database</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'ICONS/joystick.png' %}"/>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/IGDB.css' %}">
    <link rel="stylesheet" href="{% static 'fontAW/css/font-awesome.min.css' %}">
    <script type="text/javascript" src="{% static 'JQuery/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Bootstrap/js/bootstrap.js' %}"> </script>
    <script src="{% static 'Parallax/parallax.js' %}"> </script>
    {%  block user-includes %}
    {%  endblock %}
</head>
<body>

<!--Navigation-->
<nav class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header col-lg-4">
            <a class="navbar-brand" href="/"><img src="{% static 'ICONS/logo.png' %}" width="110" height="42" /></a>
        </div>

        <div id="navbar" class="navbar col-lg-8">
            <ul class="nav navbar-nav">
                <li><a href="/platforms">Platforms</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/publishers">Publishers</a></li>
                <li><a href="/search">All Games</a></li>
            </ul>
        </div>

    </div>
</nav>
<!--Navigation-->

<!--Content-->
{% block content %}
{% endblock %}
<!--Content-->

<!--Footer-->
<footer>
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-12 right-border">
<div class="footer-about">
<h2 class="footer-title">About Us</h2>
<p>This footers are designed to divide the layout through simple designs. Footers are often underestimated by designers and developers. Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. How to create a simple WordPress theme; How to integrate Bootstrap 3.</p>
</div>
<div class="copyright hidden-sm hidden-xs">
<p>Copyrights &copy; 2017 <a href="#" title="">IGDB</a>. All Right Reserved.</p>
<p>Developed By : <a href="#" title="">J&M</a></p>
</div>
</div>
<div class="col-md-6 col-sm-12">
<div class="col-md-6 col-sm-6">
<div class="contact-info">
<h2 class="footer-title">Contact Info</h2>
<div class="single">
	<i class="fa fa-map-marker"></i>
	<p>99 Street Address,<br>
Your City, LKG 778569, Country</p>
</div>
<div class="single">
	<i class="fa fa-phone"></i>
	<p>+977-90123987280</p>
</div>

<div class="single">
	<i class="fa fa-envelope"></i>
	<p>info@example.com</p>
</div>

<div class="social-icon">
	<ul class="list-inline">
		<li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
	</ul>
</div>
</div>
</div>
<div class="col-md-6 col-sm-6 left-border">
<div class="navigation">
<h2 class="footer-title">Navigation</h2>
<ul class="list-unstyled">
	<li><a href="" title="">Home</a></li>
    <li><a href="" title="">Sitemap</a></li>
    <li><a href="" title="">Contact Us</a></li>
    <li><a href="" title="">Privacy Policy</a></li>
</ul>
</div>
</div>
<div class="clearfix"></div>
<div class="copyright visible-sm visible-xs">
<p>Copyrights &copy; 2017 <a href="#" title="">IGDB</a>. All Right Reserved.</p>
<p>Developed By : <a href="#" title="">J&M</a></p>
</div>
</div>
</div>
</div>
</footer>
<!--Footer-->


</body>
</html>