{%  extends 'base.html' %}

{% block content %}
 <div class="container">

        <br /><br />

        <h2 class="home-heading" > Game Platforms</h2>
        <br />
            {% for platform in platforms %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="/platforms/{{ platform }}">
                    <div class="custom-block">
                        <div class="home-title"> {{ platform }}</div>

                        <img width="200" height="220" src="{{ platform.PlatformImage.url }}">

                    </div>
                </a>
                </div>
            {% endfor %}
    </div>


{% endblock %}
